*{
    margin: 0;
    padding: 0;
    
}
.header{
    width: 99.9%;
    height: 175px;
    position: fixed;
    top: 0px;
    
    
    
  
    

}
#logo{
    width: 139px;
    height: 90px;
    margin: 0 auto;
    
    


}
.main-m01{
    width: 70%;
    height: 85px ;
}
.main-m01 a {
    text-decoration: none;
    font-size: 25px;
    line-height: 55px;
    font-style: italic;
}
.main-m01 ul li {
    list-style-type: none;
    float: left;
    margin: 5px;
    padding-left: 35px;
    
}

.banner{
    width: 100%;
    height: 616px;
    background-image: url(/image/banner1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    animation-name: bn;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    transition: 2s;
    margin-top: 175px;
}
@keyframes bn{
    0%{background-image: url(/image/banner1.jpg);}
    20%{background-image: url(/image/banner2.jpg);}
    40%{background-image: url(/image/banner3.jpg);}
    60%{background-image: url(/image/banner4.jpg);}
    80%{background-image: url(/image/banner5.jpg);}
    100%{background-image: url(/image/banner1.jpg);}
}
.icon{
    font-size: 70px;
    color: yellow;
    position: absolute;
    top: 6%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 230px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p {
    font-size: 40px;
    font-style: italic;
}
.banner-btn{
    margin: 40px auto 0;
}
.banner-btn a{
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 60px;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    border: 0.5px solid;
    font-size: 20px;
    line-height: 60px;
    transition: color 0.5s;
    z-index: 1;

}
.banner-btn a:hover {
    color: black;

}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100%;
}
